<a href="#default" class="logo " routerLink="home"><img src="https://i.postimg.cc/C57y86y9/logo.png" alt="" width="30px" height="auto">LogBook</a>
        <div class="header-right">
            <a class="active" href="#home" routerLink="contact">Connect</a>
            <a href="#contact" routerLink="blog">Blog</a>
            <a href="#about" >Apps</a>
            <a href="#about" routerLink="register">Tools</a>
            <a href="#about" routerLink="about">About</a>
        </div>
        <a class="cred" href="#login" routerLink="login">Login</a>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="search2" type="text" placeholder="   Search...">
        </div>