<div class="container-fluid  bottom" style="background-color: #212125;">
    <div class="container py-4">
        <div class="row ">

            <div class="col-md-4">
                <a href="#default" class="logo align-self-end" routerLink="home"><img src="icons/logo.png" alt="" width="30px"
                        height="auto">LogBook</a>
                <br>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter "></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </div>

            <div class="col-md-4" >
                <h5 class="text-uppercase pb-4 text-light">Company</h5>

                <ul class="container list-unstyled mb-0" >
                    <li>
                        <a href="#!" class="text-white " >About</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Team</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Press</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Stories</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase pb-4 text-light">Learn</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Learning</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Guides</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Discovery</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Freelancer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>