.bottom {

    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

li a {
    text-decoration: none !important;
}

.logo {
    font-size: 40px;
    font-family: smooch;
    padding-right: 70px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}