<div class="strt cover-container d-flex h-100 p-3 mx-auto flex-column text-center" >
    <main>
   <h1 class="cover-heading" style="color: rgb(234, 234, 234);">CONTACT US</h1><br>
    <div class="Row1 row row-sm-offset">
        <div class="col-md-4 multi-horizontal">
            <label for="">Name</label> <br>
            <input class="text1" type="text">
        </div>
        <div class="col-md-4">
            <label for="">Email</label> <br>
            <input class="text1" type="email">
        </div>
        <div class="col-md-4">
            <label for="">Phone</label> <br>
            <input class="text1" type="number">
        </div>
    </div>
    <br>
    <div class="Row1 row">
        
        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
        <textarea type="text" class="form-control" name="message" rows="6" data-form-field="Message" id="message-form1-4"></textarea>
    
    </div>

    <div class="row">
        <br>
        <button type="button" class="btn btn-outline-dark" style="color:white; background: #950740;">Submit</button>
    </div>

    </main>
</div>