<div class="begin h-100" style="background-image: url('https://i.postimg.cc/bNMj9rVP/output-onlinepngtools-2.png');
height: 100vh;">
    <div class="strt cover-container d-flex h-100 p-3 mx-auto flex-column text-center" >
        <main>
       <h1 class="cover-heading" style="color: rgb(234, 234, 234);">Welcome</h1><br>
        <p class="lead">Conversation is king. Content is just something to talk about.</p>
        <p class="lead">
          <a href="/blog" routerLink="/blog" class="btn btn-lg btn-secondary">Explore</a>
        </p>
        </main>
    </div>
</div>
      