
<div class="container-fluid" style="background-image: url('https://i.postimg.cc/J7ZMptZ3/319-3193537-nodes-png.png');">
<div class="container strt">
    <div class="row w-100 d-flex align-items-center maindiv" style="display: flex; justify-content: flex-end">
        <div class="col-6 col-md-8 col-xxl-5">
            <a href="#default" class="logo2 " routerLink="home"><img src="https://i.postimg.cc/C57y86y9/logo.png" alt="" width="30px" height="auto">LogBook</a>
            <h3 class="hed text-light opacity-75 text-left">“Blogs are whatever we make them.The first thing you need to decide when you build your blog is what you want to accomplish with it, and what it can do if successful."</h3>
        </div>
        <div class="col-6 col-md-8 col-xxl-5">
            <div class="card py-3 px-2 text-light">
                <p class="text-center my-3"><span>Connect With Us!</span></p>
                <div class="row mx-auto">
                    <div class="col-4">
                        <a href="" target="google"><i class="fa-brands fa-google fa-lg fab"></i></a>
                    </div>
                    <div class="col-4">
                        <a href="" target="google"><i class="fa-brands fa-facebook fa-lg fab"></i></a>
                    </div>
                    <div class="col-4">
                        <a href="" target="google"><i class="fa-brands fa-twitter fab fa-lg"></i></a>
                    </div>
                </div>
                <div class="division">
                    <div class="row">
                        <div class="col-6 mx-auto mb-4">
                            <span class="main-heading">Register Here</span>
                        </div>
                    </div>
                    <form class="myform">
                        <div class="mb-3">
                            <input type="text" [(ngModel)]="user.username" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                          </div>
                          <div class="mb-3">
                            <input type="text" [(ngModel)]="user.fullname" name="fullname"class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
                          </div>
                          <div class="mb-3">
                            <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
                          </div>
                          <div class="mb-3">
                            <input type="password" [(ngModel)]="user.password" name="password"class="form-control" id="exampleFormControlInput1" placeholder="Password">
                          </div>
                          <div class="row">
                          <div class="col-md-6 col-12">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="tick">
                                <label class="form-check-label" >Remember Me</label>
                            </div>
                          </div>
                          <div class="col-md-6 col-12 bn text-capitalize"><a href="" class="register" routerLink="/login">Login Here</a></div>
                          </div>
                          <div class="my-3">
                            <button type="button" class="btn  btn-primary btn-lg col-12" (click)="registerNow()">
                                <small><i class="far fa-user pr-2">  Register</i></small>
                            </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

